{% extends 'base.html' %}
{% load i18n %}

{% block title %}Odhlášení{% endblock %}



    {% block meta %}
    
    
    {% endblock %}



{% block content %}
    <div class="container mt-5">
        <h1>Odhlášení</h1>
        <p>Opravdu se chcete odhlásit?</p>
        <form method="POST">
            <button type="submit" class="btn btn-danger">Odhlásit se</button>
            <a href="{% url 'dashboard' %}" class="btn btn-link">Zpět na nástěnku</a>
        </form>
    </div>
{% endblock %}
