body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.task-board {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 0;
}

.task-column {
    flex: 1 0 calc(33.333% - 20px); /* Změna z 0 0 na 1 0 */
    max-width: calc(33.333% - 20px);
    margin: 0 10px;
    margin-bottom: 20px;
}

.task-column h3 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}

.task-card {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
}

.task-card h4 {
    margin-bottom: 5px;
    font-weight: bold;
}

.full-width-module {
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.sidebar-module {
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.footer {
    background-color: #222;
    color: #fff;
    padding: 30px 0;
    text-align: center;
    font-size: 14px;
}

.footer-links {
    list-style-type: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #ccc;
}

.pc {
    display: none;
}

@media (max-width: 768px) {
    .task-column {
        flex: 1 0 calc(50% - 20px); /* Změna z 0 0 na 1 0 */
        max-width: calc(50% - 20px);
    }
    .tablet {
        display: none;
    }
}

@media (max-width: 576px) {
    .task-column {
        flex: 1 0 100%; /* Změna z 0 0 na 1 0 */
        max-width: 100%;
        margin: 0 auto;
    }
    .mobile {
        display: none;
    }
    .pc {
        display: block;
    }
}
