{% extends 'project/base.html' %}
{% load i18n %}

{% block title %}{% trans "Nová kategorie" %}{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>{% trans "Vytvoøit novou kategorii" %}</h1>
    
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">{% trans "Vytvoøit kategorii" %}</button>
        <a href="{% url 'detail_project' project.project_id %}" class="btn btn-secondary">{% trans "Zpìt" %}</a>
    </form>
</div>
{% endblock %}
