{% load static %}{% load i18n %}
<!doctype html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Test management | FDK.cz{% endblock %}</title>


{% block meta %}{% endblock %}

    {% include "inc/head.html" %}

</head>
<body class="bg-gray-100">

                        {% if user.is_authenticated %}
                            {% if user.is_superuser or user.is_staff %}
                            {% else %}
                            {% endif %}
                        <!-- přihlášen -->
                        {% else %}
                        <!-- nepřihlášen-->
                        {% endif %}

    <!-- Horní lišta -->
    {% include "inc/topnav.html" %}


<!-- Hlavní obsah dashboardu -->
<div class="container mx-auto px-4 py-8">


                {% block content %}
                {% endblock %}


</div>



    {% include "inc/footer.html" %}

</body>
</html>
