

{% extends 'base.html' %}
{% load i18n %}

{% block title %}FDK.cz - správce úkolù {% endblock %}

{% block meta %}{% endblock %}

{% block content %}



                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Vítejte na vaší nástìnce</h1>
                </div>
                
                <p style="color:red;font-size:bold">Pøipravujeme nový design a funkce..</p>

                <!-- Obsah -->
                <div class="row">
                    <div class="col-md-4 mb-2">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title">Projekty</h5>
                                <p class="card-text">Efektivnì spravujte své projekty.</p>
                                <a href="/projekty/" class="btn btn-primary">Pøejít na Projekty</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-2">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title">Kontakty</h5>
                                <p class="card-text">Kontakty k projektu, k seznamu.</p>
                                <a href="/kontakty/" class="btn btn-primary">Zobrazit kontakty</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-2">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title">Nastavení</h5>
                                <p class="card-text">Pøizpùsobte si svou nástìnku.</p>
                                <a href="#" class="btn btn-primary">Pøejít na Nastavení</a>
                            </div>
                        </div>
                    </div>
                </div>


<hr style="border: none; height: 1px; background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,0));">

<a href="/ucetnictvi/">Vytváøejte faktury</a> - <a href="/ucetnictvi/faktura/bez-registrace/">i bez registrace</a>


<hr style="border: none; height: 1px; background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,0));">



Volitelné moduly: <a href="/kontrakty/">Správce kontraktù</a>, <a href="/muj-ucet/kontakty/">Kontakty</a>

<hr style="border: none; height: 1px; background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,0));">


V pøípravì: Test management, skladové hospodáøství


{% endblock %}