                        <a href="/">Domů</a>
                        <a href="/projekty/">Projekty</a>
                        <a href="/seznamy/">Seznamy</a>
                        <a href="/testy/">Testy</a>
                        <a href="/nastaveni/">Nastavení</a>
                        <a href="/profil/">Profil</a>
                        
                        <a href="/kontakty/">Kontakty</a>
                        
                        <hr>
                        
                        <a href="/prihlaseni/">Přihlášení</a>
                        <a href="/odhlaseni/">Odhlášení</a>
                        <a href="/registrace/">Registrace</a>
